.task-list li{
    list-style-type:none;
    display: flex;
    justify-content: space-between;
}

.task-list input[type="checkbox"],
.task-list input[type="checkbox"]:checked + label {
	opacity: .8;
	text-decoration: line-through;
    color: green;
}

.task-list a {
    /* text-decoration: none;
    color: black;
    font-weight: bold;     */
}

.task-list a:hover {
    text-decoration: none;
    color: red;
    font-weight: bold;    
}

.tasks-container {
    text-align: center;
    width: 60%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 2px solid black;

}

ul {
    padding: 0;
    list-style-type: none;
}