{% extends 'tasks/layout.html' %}

{% block body %}


<h2>Log In</h2>

{% for message in messages %}
    {% if message.error %}<h3>{{ message }}</h3>{% endif %}
{% endfor %}
<form id="login" autocomplete="off" method="post">
  {% csrf_token %}
  <li><label for="id_username">Username:</label><br>
    <input type="text" id="id_username" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username">
</li>
<li><label for="id_password1">Password:</label><br>
<input type="password" id="id_password1" required="" name="password"></li>
  <button type="submit">Log In</button>
</form>
<a href = "{% url 'signup' %}">Sign up here</a>


{% endblock %}