{% extends 'tasks/layout.html' %}

{% block body %}

<!-- <div class="tasks-container"> -->

{% if user.is_authenticated %}<h1>Welcome , {{user}} </h1>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login'%}"><h1>Login</h1></a>
{%endif%}

<h1>Tasks Display Here</h1>
{% if request.user.is_authenticated %}
<div class="task-list">
    <ul>
        {% for task in tasks %}
        <li>
            <div class="text-field">
                {{task.created_at|date:"D f"}}
                <!-- <input type="checkbox" onclick="window.location.href='form/complete/{{task.id}}'" id="{{task.id}}" {% if task.complete %}checked{% endif %}> -->
                <input type="checkbox" onclick="Complete(this.id)" id="{{task.id}}" {% if task.complete %}checked{% endif %}>

                <label for="">{{task.title}}</label>
            </div>
            <div class="button-field">
                <a href="form/delete/{{task.id}}" onclick="return DeleteTask()">Delete</a> 
                <a href="form/{{task.id}}/update">Update</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'addtasks' %}">Add Task</a>
</div>
{% endif %}
</div>



{% endblock %}