{% extends 'tasks/layout.html' %}

{% block body %}
<h1>Tasks Display Here</h1>
<div class="task-list">
    <ul>
        {% for task in tasks %}
        <li>
            <div class="text-field">
                {{task.created_at|date:"D f"}}
                <input type="checkbox" id="{{task.id}}" onchange="this.checked = !this.checked" {% if task.complete %}checked{% endif %}>

                <label for="">{{task.title}}</label>
            </div>
            <div class="button-field">
                <a href="form/delete/{{task.id}}" onclick="return DeleteTask()">Delete</a> 
                <a href="form/{{task.id}}/update">Update</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'addtasks' %}">Add Task</a>
</div>


{% endblock %}